body {
    min-height: 100vh;
    display: flex;
}

#projects {
    flex: 0.35;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 90%;
    background-color: paleturquoise;
    margin: 10px;
    color: black;
    font-size: 1.35rem;
}


#projects div:first-of-type {
    justify-content: center;
}


#todos {
    flex: 1;
    background-color: orange;
}